<Config>
  <Language value="egBoAC0AQwBOAA==" />
  <MAIN_PATH value="QwA6AFwAUAByAG8AZwByAGEAbQAgAEYAaQBsAGUAcwBcAABfaHlvj/ZOXAA5ADEAMwAxADAAMQAxADAANgAzADAANwA2ADMANQAwADQAUgAuADAA" />
  <MAIN_CODE value="OQAxADMAMQAwADEAMQAwADYAMwAwADcANgAzADUAMAA0AFIA" />
  <MAIN_MACHINE value="MAA=" />
  <MAIN_ORGCODE value="MwAxADAAMQAxADAA" />
  <MAIN_VER value="VgAyAC4AMQAuADIAMAAuADEANgAwADQAMgA1AC4AMAAxAA==" />
  <MAIN_DBVER value="VgAyAC4AMQAuADIAMAAuADEANgAwADQAMgA1AC4AMAAxAA==" />
  <MAIN_UI value="QwBMAEkARQBOAFQA" />
  <恢复数据库路径 value="" />
  <Login_B9DCC0EDD4B1 value="MQAyADMANAA1ADYANwA4AC0AMQAyADMANAA1ADYANwA4AA==" />
  <Login_UserID value="YQBkAG0AaQBuAA==" />
  <Login_UserName value="oXsGdFhU" />
  <Login_IsAdmin value="VAByAHUAZQA=" />
  <启用停用发票转凭证接口 value="MQA=" />
  <数据备份路径 value="RAA6AFwAAF9oeW+P9k5wZW5jB1n9TlwAOQAxADMAMQAwADEAMQAwADYAMwAwADcANgAzADUAMAA0AFIALQAwAA==" />
  <每月月初备份数据 value="MQA=" />
  <程序每次运行结束备份数据 value="MAA=" />
  <上一次间隔时间备份日期 value="MgAwADEANgAtADAAOQAtADAAMQA=" />
  <间隔一定时间备份类型-天或者月 value="KVk=" />
  <FullInstall value="MAA=" />
  <SjqySuccess value="MQA=" />
  <MAIN_TAXTRATE value="MAAuADEANwAsADAALgAxADMALAAwAC4AMQAxACwAMAAuADAANgAsADAALgAwADQALAAwAC4AMAAzACwAMAAuADAANQA=" />
  <MAIN_FORMSTYLE value="TwBMAEQA" />
  <MDIForm_OldNavButton value="TQBlAG4AdQAuAEYAcABnAGwA" />
  <Site value="MAAsADAALAA4ADYAOAAsADEAMAA0ADAA" />
  <BMBBBH value="MQAyAC4AMAA=" />
  <客户编码编码-名称 value="RgBhAGwAcwBlAA==" />
  <pagesize value="" />
  <商品编码编码-名称 value="RgBhAGwAcwBlAA==" />
  <INV-XFYHZH value="5V1MiApOd20CXpRO0ok6Vy9lTIgxADAAMAAxADIAMgA0ADkAMAA5ADAAMAA0ADYAMwA3ADQANAA5AA==" />
  <INV-HSJBZ value="MQA=" />
  <INV-AUTOSAVEKH value="MAA=" />
  <Aisino.Fwkp.Yccb.zpcbrq.91310110630763504R.0 value="MgAwADEANgAwADgA" />
  <税收分类编码编码-名称 value="RgBhAGwAcwBlAA==" />
  <INV-FHR-IDX value="" />
  <INV-SKR-IDX value="" />
  <Aisino.Fwkp.Fpkj.Form.FPCX_FaPiaoChaXun_ALLNum value="MwA2AA==" />
  <Aisino.Fwkp.Yccb.zpqkrq.91310110630763504R.0 value="MgAwADEANgAwADcA" />
  <Aisino.Fwkp.Fpkj.Form.FPCX_FaPiaoChaXunTiaoJian_SortWay value="MQA=" />
  <Aisino.Fwkp.Fpkj.Form.FPCX_FaPiaoChaXun_aisinoGrid_PageSize value="MwAwAA==" />
</Config>