<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MSURL" value="http://fwkp.aisino.com" />
    <add key="ClientPort" value="3288" />
    <add key="ClientName" value="110101" />
    <add key="SoftName" value="新版开票" />
    <add key="VersionRegPath" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\fwkp.exe" />
    <add key="VersionRegKey" value="Version" />
    <add key="SoftPathRegPath" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\fwkp.exe" />
    <add key="SoftPathRegKey" value="Path" />
    <add key="AreaCodeRegPath" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\fwkp.exe" />
    <add key="AreaCodeRegKey" value="orgcode" />
    <add key="TaxCodeRegPath" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\fwkp.exe" />
    <add key="TaxCodeRegKey" value="code" />
    <add key="StartFileName" value="Bin\Aisino.Framework.Startup.exe" />
    <add key="LOCALURL" value="http://114.215.89.237:8080" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>